{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
	</head>
	<body>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_12">
						<h3>Economy</h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						<div class="grid_4"><a href="{% static 'images/big1.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g1.jpg" alt=""></a></div>
						<div class="grid_4"><a href="{% static 'images/big2.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g2.jpg" alt=""></a></div>
						<div class="grid_4"><a href="{% static 'images/big3.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g3.jpg" alt=""></a></div>
					</div>
					<div class="grid_12">
						<h3>Standard</h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						<div class="grid_4"><a href="{% static 'images/big4.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g4.jpg" alt=""></a></div>
						<div class="grid_4"><a href="{% static 'images/big5.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g5.jpg" alt=""></a></div>
						<div class="grid_4"><a href="{% static 'images/big6.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g6.jpg" alt=""></a></div>
					</div>
					<div class="grid_12">
						<h3>Lux</h3>
					</div>
					<div class="clear"></div>
					<div class="gallery">
						<div class="grid_4"><a href="{% static 'images/big7.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g7.jpg" alt=""></a></div>
						<div class="grid_4"><a href="{% static 'images/big8.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g8.jpg" alt=""></a></div>
						<div class="grid_4"><a href="{% static 'images/big9.jpg' %}" class="gal"><img src="{% static 'images/page3_im' %}g9.jpg" alt=""></a></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>

	</body>
</html>
{% endblock %}